body {
  text-align: center;
  background-color: #e3f2fd;
  animation: bgAnimation 10s infinite alternate ease-in-out;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 25px;
}

@keyframes bgAnimation {
  0%   { background-color: #abcbe3; }
  25%  { background-color: #96c6ee; }
  50%  { background-color: #8dbce2; }
  75%  { background-color: #54acf4; }
  100% { background-color: #40a3f1; }
}
